<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="ActivationFunction" value="0"/>
    <add key="TrainMethod" value="0"/>
    <add key="Momentum" value="0.500"/>
    <add key="Iterations" value="1000"/>
    <add key="RMSE" value="0.001"/>
    <add key="LayerSize" value="8,50,2"/>
    
  </appSettings>
</configuration>